body {
    background-color: var(--bg-body);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Rubik', sans-serif;
}

.dashboard {
    color: hsl(236, 100%, 87%);
    max-width: 1400px;
    display: grid;
    grid: 
    "menu work play study" 210px
    "menu exercise social self-care" 210px
    / 200px 200px 200px 200px;
    grid-gap: 1em;
}

.dashboard .menu {
    grid-area: menu;
    position: relative;    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1.2em;
    background-color: var(--bg-text);
    border-radius: 20px;
    padding: 1.3em;
}

.dashboard .menu a:hover {
    color: #fff;
    cursor: pointer;
}

.dashboard .menu .profile {
    background-color: var(--bg-profile);
    position: absolute;
    top: 0;
    left: 0;
    height: 300px;
    border-radius: 20px;
    padding: 1.3em;
}

.dashboard .menu .profile img {
    width: 60px;
    border: 2px solid #fff;
    border-radius: 30px;
    margin-bottom: 1.7em;
}

.dashboard .menu .profile p {
    font-size: 14px;
    color: hsla(236, 100%, 87%, 0.904);
}

.dashboard .menu .profile h1 {
    font-weight: 400;
    color: #fff;
}

.dashboard .menu .buttons {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.dashboard .sub-titulo a {
    color: #fff;
}

.dashboard .work {
    grid-area: work;
    background-color: var(--bg-work);
    background-image: url(../images/icon-work.svg);
}

.dashboard .play {
    grid-area: play;
    background-color: var(--bg-play);
    background-image: url(../images/icon-play.svg);
}

.dashboard .study {
    grid-area: study;
    background-color: var(--bg-study);
    background-image: url(../images/icon-study.svg);
}

.dashboard .exercise {
    grid-area: exercise;
    background-color: var(--bg-exercise);
    background-image: url(../images/icon-exercise.svg);
}

.dashboard .social {
    grid-area: social;
    background-color: var(--bg-social);
    background-image: url(../images/icon-social.svg);
}

.dashboard .self-care {
    grid-area: self-care;
    background-color: var(--bg-self-care);
    background-image: url(../images/icon-self-care.svg);
}

.dashboard .background {
    background-repeat: no-repeat;
    background-position: top right;
    position: relative;
    border-radius: 20px;
}

.dashboard .background .content {
    width: 200px;
    height: 160px;
    position: absolute;
    bottom: 0;
    background-color: var(--bg-text);
    border-radius: 16px;
    padding: 1.3em;
    transition: all .2s ease;
}

.dashboard .background .content:hover {
    background-color: var(--bg-text-hover);
    cursor: pointer;
}

.dashboard .background .content .time{
    position: absolute;
}

.dashboard .background .content .time .hours {
    margin-bottom: 5px;
    font-weight: 300;
    font-size: 2.6em;
    color: #fff;
}

.dashboard .background .content .time .hours::after {
    content: 'hrs';
    display: inline-block;
}

.dashboard .background .content .time span {
    font-size: 14px;
    font-weight: 400;
}

.dashboard .background .content .time .esconder{
    display: none;
    opacity: 0;
    transition: all 1s ease;
}

.dashboard .background .content .time .mostrar{
    display: block;
    opacity: 1;
    transition: all 1s ease;

    /* nao está funcionando o transition */
}

.dashboard a {
    color: hsl(236, 100%, 87%);
}

.dashboard .reticencias {
    margin-left: 45px;
}

.dashboard .sub-titulo {
    margin-bottom: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.footer {
    text-align: center;
    margin-top: 3em;
}

.footer p {
    color: hsl(228, 45%, 44%);
    font-size: 12px;
    font-family: 'Rubik', sans-serif;
}

.footer a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
    font-weight: 700;
    padding: 5px 3px;
    transition: all .25s ease;
}

.footer a:hover {
    text-decoration: underline;
    background-color: rgb(169, 192, 235);
    padding: 5px 3px;
}