:root {
    --bg-body: hsl(226, 43%, 10%);
    --bg-text: hsl(235, 46%, 20%);
    --bg-text-hover: hsl(235, 46%, 40%);
    --bg-profile: hsl(246, 80%, 60%);
    --off-white: hsla(236, 100%, 87%, 0.904);
    --bg-work: hsl(15, 100%, 70%);
    --bg-play: hsl(195, 74%, 62%);
    --bg-study: hsl(348, 100%, 68%);
    --bg-exercise: hsl(145, 58%, 55%);
    --bg-social: hsl(264, 64%, 52%);
    --bg-self-care: hsl(43, 84%, 65%);

}